*{
    font-size: 20px;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;
}

.flashcard {
    margin: 1em;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    width: 15em;
    text-align: left;
}

button {
    margin-top: .5em;
}

      
