*{
    font-size: 20px;
    padding: 0;
    margin: 0;
    
}
html {
    background-color: cornsilk;
}
body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    display: flex;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    flex: 1;
    background-color: rgb(247, 240, 196;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    background-color: rgb(255, 102, 0);
    color: rgb(247, 240, 196);
    padding: 2em;
    border-radius: 10px;
    flex: 1;
    width: 100%;
}
body div div {
    background-color: black;
    flex: 1;
}
#flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    
}
/*
.flashcard {
    margin: 1em;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    width: 15em;
    text-align: left;
}
*/
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 123, 255, 0.6);
}

button {
    padding: .5em;
    margin: 1em;
    background-color: rgb(193, 224, 251);
    font-size: .5em;
    border-radius: 5px;

}
/*
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-alert-content {
    text-align: center;
}

.custom-alert button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #cee4fc;
}
*/
